ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    font-family: Papyrus, fantasy;
}

li {
    float: left;
    font-family: Papyrus, fantasy;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: blue;
}

.active {
    background-color: rgb(237, 171, 48);
}


#cf img{
    border-radius: 16px;
    position:fixed;
    width: 500px;
    height: 300px;
    right: 150px;
    top: 150px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    box-shadow: 0px 0px 8px #ffffff; 
    -webkit-box-shadow: 0px 0px 8px #ffffff; 
    -ms-box-shadow: 0px 0px 8px #ffffff;
    -o-box-shadow: 0px 0px 8px #ffffff; 
}

@keyframes cfFadeInOut {
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:0;  
    }
    100% {
        opacity:0;
    }
}

#cf img.top {
    animation-name: cfFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-direction: alternate;
}

#cf img.middle {
    animation-name: cfFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}

h1{
    position:relative;
    font-size: 32pt;
    font-family: Papyrus, fantasy;
    left: 150px;
    top: 120px;
    color: black;
}

span{
    background-color: lightblue;
    box-shadow: 10px 0 0px 0px lightblue, -10px 0 0px 0px lightblue;
    line-height: 0;
}

body {
    background-image: url("pics/Head3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
}

button{
    position: fixed;
    top: 550px; 
    font-size: 24pt;
    right: 600px;
    font-family: Papyrus, fantasy;
    background-color: rgb(237, 171, 48);
}

@media(max-width:1300px){

    #cf img{
        border-radius: 16px;
        position:fixed;
        width: 250px;
        height: 150px;
        right: 50px;
        top: 170px;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        box-shadow: 0px 0px 8px #ffffff; 
        -webkit-box-shadow: 0px 0px 8px #ffffff; 
        -ms-box-shadow: 0px 0px 8px #ffffff;
        -o-box-shadow: 0px 0px 8px #ffffff; 
    }  

    h1{
        font-size: 16pt;
        left: 50px;
        top: 120px;
    }

    button{
        right:200px;
    }
}